.image {
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.image:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.image__center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
