body {
  background-color: #b4b4b4;
  margin: 0;
  font-family: "Begum-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Begum-Regular;
}
