body {
  background-color: black;
  margin: 0;
  overflow: hidden;
  font-family: "Begum-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Begum-Regular;
}

